<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
    </style>
  </head>
<header id="panel">
  <p>Pothole Patrol</p>
</header>
  <div id = "loginDropDown">
    <ul>
     <li class="blueOne">
      <%if current_user%>
       <%=link_to "Sign Out", signout_path%><br>
       <%=link_to "Photos",""%><br>
       <%=link_to "More Info",""%>
      <%else%>
       <p id="loginButton">Login</p>
       <%=link_to "Twitter", "/auth/twitter",{:class=>"linkText"} %><br>
       <%=link_to "Facebook", "/auth/facebook",{:class=>"linkText"}%><br>
       <%=link_to "Photos",""%><br>
       <%=link_to "More Info",""%>

      <%end%>
     </li>
    </ul>
  </div>


<body>
    <div id="map-canvas"/>
</body>

</html>