You have uploaded a photo:

<%= form_for @photo, :html => {:multipart => true} do |f| %>

  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :pothole_id %>
  <%= f.hidden_field :key %>
  <p>File: <%= @photo.image_name %>
  </p>
<!--   <p>
    <%= f.label :remote_image_url, "or image URL" %><br />
    <%= f.text_field :remote_image_url %>
  </p> -->
  <p><div class="photo_submit"><%= f.submit %></div></p>
<% end %>

