<h1>photos index page</h1>
<!--<%= link_to "add new photo", new_photo_path%><br>-->
Current pothole collection:<br>

<% @photos.each do |photo| %>
<% if photo.image_processed? %>
  <a href="/photos/<%=photo.id%>"><%= image_tag photo.image_source.url(:thumb).to_s %></a>
<% else %>
  <em>Processing...</em>
<% end %>
<%= button_to "delete image", { action: "destroy", id: photo.id },
                              :method => :delete,
                              data: {confirm: "Are you sure?" } %>
<% end %>

Upload a new Photo:
<%= direct_upload_form_for @uploader do |f| %>
  <p><%= f.file_field :image_source %></p>
  <p><%= f.submit "Upload Image" %></p>
<% end %>

