<div id="infoWindow" style="min-width: <%= windowSize.width * .8 %>px; height: <%= windowSize.height * .8 %>px">

<ul class='bxSlider'>
  <% for (i in array) { %>
    <li style="max-width: <%= windowSize.width * .7 %>px"><img style="max-width: <%= windowSize.width * .6 %>px; max-height: <% windowSize.height * .6 %>px" src=<%= array[i] %> ></li>
  <% } %>
</ul>

</div>

