<div id='content' style= 'color: #34495e; width: 250px; text-align: center'>



<h1><%= name %></h1>
<div><%= description %></div><br>

<button class='showPhotosButton showHide infoboxButton' id='<%= id %>' style= 'background:#34495e; color:white; border: 0px'>Photo Gallery</button><br>
<button class='upvote vote infoboxButton' id='<%= id %>' style= 'background: white; color:white; border: 0px'><img class="arrow" src="/assets/arrow.png"></button>
<div class='vote_counter infoboxButton' id='<%= id %>' style='font-size: 20px; display: inline-block; margin-top: -10px'><%= vote_count %></div>
<button class='downvote vote infoboxButton' id='<%= id %>' style= 'background: white; color:white; border: 0px'><img class="arrow" src="/assets/down_arrow.png"></button>


<% if(gon.current_user){ %>
  <!-- Delete tag button -->
  <p><button class='deleteButton infoboxButton' id='<%= id %>' style= 'background:#34495e; color:white; border: 0px'>Remove This Tag</button></p>
  <!-- Upload photo button -->
  <a href="/potholes/<%= id %>/photos"><button class='addPhotosButton infoboxButton' id='<%= id %>' style= 'background:#34495e; color:white; border: 0px'>Upload a Photo</button></a>
<% } %>



</div>