<div id='content'>
<h1><%= name %></h1>
<div><%= description %></div>
<button class='upvote vote' id='<%= id %>'>Upvote!</button>
<button class='downvote vote' id='<%= id %>'>Downvote!</button>
<div class='vote_counter' id='<%= id %>'>Vote Count: <%= vote_count %></div>
<button class='deleteButton' id='<%= id %>'>Delete!</button>
<button class='showPhotosButton showHide' id='<%= id %>'>Show Photos!</button>

<div class='photosContent hidden' id='<%= id %>'>
  <button class='hidePhotosButton showHide' id='<%= id %>'>Hide Photos!</button>
  <button class='addPhotosButton' id='<%= id %>'>Add Photos!</button>
  <div class='storePhotos' id='<%= id %>'></div>

  <form class='addPhotosForm'>
    <input type='text' name='image_source' placeholder='Add image URL'>
    <input type='hidden' name='pothole_id' value='<%= id %>'>
    <input type='submit'>
  </form>
</div>
</div>