<div id='content' style= 'color: #34495e'>

  <li><a class='gallery' href="http://nycprowler.com/prowler/wp-content/uploads/2013/10/cats-animals-kittens-background-us.jpg" >Link 1!</a></li>
  <li><a class='gallery' href="http://www.bubblews.com/assets/images/news/803864926_1375572583.jpg" >Link 2!</a></li>
  <li><a class='gallery' href="http://www.tehcute.com/pics/201109/heart-kittens.jpg" >Link 3!</a></li>






<h1><%= name %></h1>
<div><%= description %></div>
<button class='upvote vote' id='<%= id %>' style= 'background:#34495e; color:white; border: 0px; padding: 2px'>Upvote</button>
<button class='downvote vote' id='<%= id %>' style= 'background:#34495e; color:white; border: 0px; padding: 2px'>Downvote</button>
<div class='vote_counter' id='<%= id %>'>Vote Count: <%= vote_count %></div>

<% if(gon.current_user){ %>
  <!-- Delete tag button -->
  <p><button class='deleteButton' id='<%= id %>' style= 'background:#34495e; color:white; border: 0px; padding: 2px'>Remove This Tag</button></p>
  <!-- Upload photo button -->
  <a href="/potholes/<%= id %>/photos"><button class='addPhotosButton' id='<%= id %>' style= 'background:#34495e; color:white; border: 0px; padding: 2px'>Upload a Photo</button></a>
<% } %>

<button class='showPhotosButton showHide' id='<%= id %>' style= 'background:#34495e; color:white; border: 0px; padding: 2px'>Photo Gallery</button>


<div class='photosContent hidden' id='<%= id %>'>

  <button class='hidePhotosButton showHide' id='<%= id %>' style= 'background:#34495e; color:white; border: 0px; padding: 2px'>Hide Gallery</button>



  <!--   <form class='addPhotosForm'>
      <input type='text' name='image_source' placeholder='Add image URL'>
      <input type='hidden' name='pothole_id' value='<%= id %>'>
      <input type='submit'>
    </form> -->

  </div>
</div>