<div id='content'>
<h1><%= name %></h1>
<div><%= description %></div>
<button class='upvote vote' id='<%= id %>' style= 'background:#8e44ad; color:white; border: 0px; padding: 2px'>Upvote!</button>
<button class='downvote vote' id='<%= id %>' style= 'background:#8e44ad; color:white; border: 0px; padding: 2px'>Downvote!</button>
<div class='vote_counter' id='<%= id %>'>Vote Count: <%= vote_count %></div>
<% if(gon.current_user){ %>
  <button class='deleteButton' id='<%= id %>' style= 'background:#8e44ad; color:white; border: 0px; padding: 2px'>Delete!</button>
<% } %>
<button class='showPhotosButton showHide' id='<%= id %>'>Show Photos!</button>


<div class='photosContent hidden' id='<%= id %>'>
  <button class='hidePhotosButton showHide' id='<%= id %>'>Hide Photos!</button>
  <% if(gon.current_user){ %>
    <a href="/potholes/<%= id %>/photos"><button class='addPhotosButton' id='<%= id %>'>Upload a Photo</button></a>
  <% } %>

  <!--   <form class='addPhotosForm'>
      <input type='text' name='image_source' placeholder='Add image URL'>
      <input type='hidden' name='pothole_id' value='<%= id %>'>
      <input type='submit'>
    </form> -->
  </div>
</div>